<mat-card class="uploaded-quiz-wrapper">
	<div>
		<div class="uploaded-quiz-title">

			<div>
				<mat-form-field class="quiz-edit-details">
					<input matInput placeholder="Quiz name" autocomplete="off" [(ngModel)]='uploadedQuiz.eventName' class="full-width" autofocus>
                        </mat-form-field>
                    </div>

                    <h1 class="mat-h1 quiz-details" >
                        {{uploadedQuiz.time | date:'dd MMM yyyy hh:mm aa'}}
                     
                    </h1>

                </div>
                

                <div class="half-grid">
                    <div class="question full-width no-margin">
                          <mat-form-field class="full-width" >
 <textarea cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="2"
 matInput placeholder="Publisher video URL" [(ngModel)]="uploadedQuiz.rtmpUrl" autocomplete="off"  class="full-width"></textarea>
  </mat-form-field>
                      </div>
                <!-- </div>

                <div class="reward-wrapper "> -->
                    <div class="question full-width ">
                          <mat-form-field class="full-width">
 <textarea cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="2"
            matInput placeholder="User video URL" [(ngModel)]="uploadedQuiz.videoUrl" autocomplete="off"  class="full-width"></textarea>
  </mat-form-field>
                      </div>
                </div>








                <div class="reward-wrapper"><span class="reward-text center">Reward for the event:</span>
                    <div style="flex:1">
                         <mat-form-field style="margin:0 0 0 10px; width: -webkit-fill-available;"> 
                            <mat-select [(value)]="selectedReward">
                                <mat-option *ngFor="let reward of rewards; let i = index" [value]="i">
                                    {{reward.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div *ngFor="let activity of uploadedQuiz.activityList; let i = index">
                <div class="uploaded-quiz-questions">
                    <h3 class="question horizontal-center">Q.{{i+1}}</h3>
                    <h3 class="question">
                          <mat-form-field appearance="outline" class="full-width no-padding">
    <mat-label>Question {{i+1}}</mat-label>
 <textarea matInput cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
             placeholder="Question {{i+1}}" [(ngModel)]="activity.metadata.question" autocomplete="off"  class="full-width" autofocus></textarea>
  </mat-form-field>

                      </h3>
                      <h3 (click)="removeQuestion(i)" class="horizontal-center"><img class="float-right horizontal-center" src="https://img.icons8.com/color/22/000000/delete-sign.png"></h3>                      
                </div>


                <div class="uploaded-quiz-questions"><p></p><div><span class="reward-text">Question type</span>
                    <div style="flex:1">
                         <mat-form-field style="width: -webkit-fill-available;"> 
                            <mat-select [(value)]="activity.subType">
                                <mat-option *ngFor="let type of activityTypes; let i = index" [value]="type">
                                    {{type}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div></div>
                </div>


                <div class="uploaded-quiz-questions" *ngIf="activity.subType!=='TEXT' && activity.subType!==''">
                           <h3></h3>
                                          <h3 class="question">
                          <mat-form-field class="full-width">
 <input matInput placeholder="image URL" [(ngModel)]="activity.metadata.url" autocomplete="off"  class="full-width" >
  </mat-form-field>
                      </h3>

                      </div>
                <div class="multimedia" *ngIf="activity.subType === 'IMAGE' || activity.subType === 'AUDIO' ">
                    <img class='question-image' [src]="activity.metadata.url" *ngIf="activity.subType === 'IMAGE'">
                    <audio controls *ngIf="activity.subType === 'AUDIO'">
                                <source [src]="activity.metadata.url" type="audio/mpeg">
                        </audio></div>
                <div class="uploaded-quiz-questions">
                    <h3 class="mat-h3"></h3>
                    <h3 class="mat-h3 options">
                      <!-- <span class="reward-text">Options:</span> -->
                        <mat-radio-group [(ngModel)]="activity.metadata.answer">
                            <mat-radio-button *ngFor="let option of activity.metadata.options; let j = index" [value]="j">                        <mat-form-field class="quiz-edit-details" >
                            <input matInput placeholder="option {{(j+1)}}" name = "option_{{(j+1)}}" [(ngModel)]="option.value" autocomplete="off" class="full-width" autofocus>
                        </mat-form-field><h3 (click)="removeOption(i,j)" class="horizontal-center" style="margin-left:8px"><img class="float-right horizontal-center" src="https://img.icons8.com/color/22/000000/delete-sign.png"></h3> 
                            </mat-radio-button>
                        </mat-radio-group>
                    </h3><p></p><p></p>                                    <button mat-raised-button color="primary" style="margin:10px; width:fit-content" [disabled]='isUploading' (click)="addOption(i)">Add Option</button>
                </div>

                <div class=" options timeToRead" *ngIf="activity.metadata.length">
                    <!-- <h3 class="mat-h3"></h3> -->
                    <div>Time to read question: {{activity.metadata.length}} sec</div>
                </div>

                <div class=" options timeToAnswer" >
                    <h3 class="mat-h3"></h3>
                    <div style="display:flex; vertical-align:middle"><p style="margin:auto 0"> Time to select option : </p>
                       <mat-form-field  style="margin:0px 15px;"  >
                            <input matInput placeholder="time" type="number" min=1 autocomplete="off" [(ngModel)]='activity.timeToAnswer'autofocus>
                        </mat-form-field>
                       <p style="margin:auto 0"> sec </p> </div>
                </div>
                <mat-divider *ngIf="i!=uploadedQuiz.activityList.length-1" class="custom-divider"></mat-divider>
            </div>
<button mat-raised-button color="primary" style="margin:10px;width:-webkit-fill-available" [disabled]='isUploading' (click)="addQuestion()">Add Question</button>
            <button mat-raised-button color="primary" class="" [disabled]='isUploading' >Cancel</button>
            <button mat-raised-button color="primary" class="float-right" [disabled]='isUploading' (click)="displayAll()" >Save</button>
        </mat-card>